*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  background-color: #FFFFFF
  margin: 0
button
  outline: none
h1, h2, h3
  font-family: Roboto
.container
  max-width: 1140px
  margin: auto
.section
  &__subtitle
    font-weight: 600
    font-size: 14px
    line-height: 19px
    letter-spacing: 2px
    text-transform: uppercase
    color: #00B8D9
  &__title
    font-weight: bold
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.2px
    color: $dark
  &__description
    font-size: 18px
    line-height: 32px
    color: $light