.footer
  padding-top: 128px
  padding-bottom: 82px
  background-color: #0D2436
  &__text
    font-size: 15px
    line-height: 28px
    color: $light
  &__title
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $light
    font-family: Open Sans
    margin-top: 0
    margin-bottom: 31px
    &--mobile
      &-visible
        display: none
  &__ul
    list-style: none
    padding: 0
  &__item
    font-size: 16px
    line-height: 22px
    color: #959EAD
    margin-bottom: 24px
    &--mb-11
      margin-bottom: 11px
  &__link
    text-decoration: none
    color: inherit
    &--mobile
      &-visible
        display: none
  &__logo
    width: 90px
    margin-bottom: 28px
  &__social
    display: flex
    flex-direction: column
    max-width: 240px
    margin-right: 52px
  &__icon
    margin-right: 21px
    &-wrapper
      margin-top: 32px
  &-top
    display: flex
  &-wrapper
    display: flex
  &__ul
    margin-right: 81px
    &--mr-24
      margin-right: 24px
  &-like
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 73px
    &__text
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $light
      margin-top: 24px