.header
  background-color: #FAFDFF
  &-wrapper
    display: flex
    justify-content: space-between
    height: 100px
    align-items: center
  &-nav
    display: flex
  &__nav
    display: flex
    align-items: center
    list-style: none
    padding: 0
    margin-right: 43px
    margin-top: 0
    margin-bottom: 0
  &__item
    margin-right: 22px
    &--mr-28
      margin-right: 28px
  &__link
    text-decoration: none
    color: $dark-text
    font-weight: 600
    font-size: 16px
    line-height: 22px
  &__button
    padding: 13px 24px
    border: 2px solid #1565D8
    border-radius: 8px
    background-color: #FAFDFF
    font-weight: bold
    font-size: 16px
    line-height: 22px
    color: #1565D8
    