.hero
  padding-top: 56px
  padding-bottom: 105px
  position: relative
  overflow: hidden
  &__image
    position: absolute
    left: 48%
    top: 8%
    &-small
      display: none
  &-wrapper
    display: flex
    flex-direction: column
  &__title
    font-family: 'Roboto', sans-serif
    font-weight: bold
    max-width: 499px
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $dark
    margin-top: 0
    margin-bottom: 15px
    &-small
      font-size: 36px
      line-height: 53px
  &__description
    max-width: 457px
    margin-bottom: 63px
    margin-top: 0
  &__button
    text-align: center
    border-radius: 8px
    padding: 16px 24px 15px 24px
    width: 243px
    background-color: $dark
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: #ffffff
    border: none
    margin-bottom: 56px
    cursor: pointer
    text-decoration: none
  &__link
    &-image
     width: 54px
     height: 56px
    &-wrapper
      width: 54px
      height: 56px