.slide
  &-wrapper
    padding: 24px
  &__subtitle
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: #1565D8
  &__title
    font-family: Roboto
    font-weight: bold
    font-size: 30px
    line-height: 40px
    letter-spacing: 0.2px
    color: $dark
    margin-bottom: 0
    margin-top: 16px
.portfolio
  padding-top: 87px
  &__container
    position: relative
  &__title
    margin-top: 18px
    margin-bottom: 48px
    letter-spacing: -2.9px
  &-slider
    &__button
      position: absolute
      top: 65%
      z-index: 99
      &--prev
        width: 14px
        height: 18px
        right: 15.5%
      &--next
        height: 18px
        width: 14px
        right: 10.5%
      &-img
        transform: rotate(180deg)
